<% include ../partials/header %>


<div class="container">
    <h3>Hi! <strong><%= currentUser %></strong></h3>
    <header class="jumbotron">
      <div class="container">  
        <h1>Welcome to Yeeha</h1>
            <p>View our hand picked campgrounds from all over the world</p>
            <p>
               <a class="btn btn-primary btn-lg btn-camp" href="/campgrounds/new"> Add new campground</a>
          </p>
      </div>
    </header>


    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        
    
    <% campgrounds.forEach(function(campground){ %>
        <div class="col-md-3 col-sm-6">
            
            <div class="thumbnail" id="index">
            <img src = "<%= campground.image %>">
       <div class="caption">
            <h4><%= campground.name %> </h4>
             </div>
             <a href= "/campgrounds/<%= campground._id %>" class= "btn btn-info btn-more"> More info</a>
        </div>
    </div>    
    
<% }); %>
    </div>
</div>

<% include ../partials/footer %>