/*Logo colors*/
/*#ABFB88 - lighter*/
/*#3DC094 -med*/
/*-darker*/

.container-Login{
    width:88%;
    margin-left:7%;
    background-image:url(https://images.unsplash.com/photo-1520685303244-0461943ece6e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    border-radius: 1%;
    /*background-image: url(https://images.unsplash.com/photo-1527333886037-3b8f29f96eee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);*/
    /*padding-top: 60vh;*/
    /*background-image: url(https://images.unsplash.com/photo-1472494731104-3ba69e52845b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);*/
    height: 630px;
}
.container-Login-B{
    width:88%;
    margin-left:7%;
    background-image: url(https://images.unsplash.com/photo-1508974462591-3c124867fdf8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80);
    border-radius: 1%;
    /*background-image: url(https://images.unsplash.com/photo-1527333886037-3b8f29f96eee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);*/
    /*background-image: url(https://images.unsplash.com/photo-1524856781660-e5c92f4ac62a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80); */
    /*padding-top: 60vh;
    /*background-image:url(https://images.unsplash.com/photo-1520685303244-0461943ece6e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)*/
    height: 630px;
}
.login-container{
    width:43%;
    margin-left:8%;
    position: relative;
    text-align: center;
    padding-top: 7vh;
    margin-right: 8%;
}

.login-form-1 {
    border-radius: 5px;
    text-align: center;
    padding: 3.5%;
    background:#282726;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    margin-bottom:12%;
    color:#fff;
}

.login-form-2{
    border-radius: 5px;
    text-align: center;
    padding: 3.5%;
    background:#282726;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    margin-bottom:12%;
    color:#fff;
}


.btn-log{
    text-align: center;
    font-weight: 600;
    width: 50%;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
}
.btn-sig{
    background-color: #3DC094;
    text-align: center;
    font-weight: 600;
    width: 50%;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
    margin: 4%;
}