.thumbnail img {
    width:100%;
}

h1 {
    font-size: 4.5em;
}

ul {
    list-style: none;
}
.navbar-default {
    background-color: initial;
    border-color: #e7e7e7;
}

.thumbnail{
    padding: 0%;
}

.thumbnail .caption-full{
    padding: 9px;
}

.delete-form{
    display:inline;
}

.navbar-brand{
    margin-left: 5%;
}

/*buttons*/

.btn{
    font-family: 'Roboto', sans-serif;
}

.btn-more {
    margin-bottom:9px;
}

.btn-camp {
    text-align: center;
    font-weight: 400;
    border: none;
    padding:1em;
}

/*user profile*/

.profile-background{
    padding-top: 5vh;
}
.profile-first-container{
    background-color: #ddd;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px; 
    margin-right: 4%;
    height: 450px;
    margin-left: 4%;
}


.profile-info {
     border: 1px solid #ddd; 
}

.profile-pic {
   /*vertical-align: middle;*/
   width: 140px;
   height: 140px;
   border-radius: 50%;
   margin-left: 2vh;
}

.profile-names{
    padding-top: 1.5vh;
}

.profile-username-name{
    padding: 1vh;
}

.btn-contact {
    margin-top: 2vh;
    margin-left: 2vh;
}
.two-main-btn{
    margin-top: 16%;
    margin-left: 23%;
}

/*jumbotron*/
.image-index{
    color: white;
    /*background-image: url(https://images.unsplash.com/photo-1557329170-f329e0dfa53a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);*/
    background-image: url(https://images.unsplash.com/photo-1445307806294-bff7f67ff225?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80);
    height: 700px;
    margin-left: -17%;
    margin-right: -17%;
  
}
.form-control{
    width: 62%;
}
.index-ctc{
    padding-top: 10%;
    padding: 10%;
}

.h1-brand{
    font-family: 'Passion One', cursive;
    font-size: 74px;
}

.GeneratedMarquee {
    font-size:1.8em;
    line-height:1.3em;
    color:white;
    padding:1%;
    font-family: 'Roboto', sans-serif;

}

/*index pictures*/
#index-pic-container{
    position: relative;
    width:  240px;
    height: 280px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

#index-pic-container-b{
    padding-top: 1.5vh;
    position: relative;
    width:  250px;
    height: 220px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
